.del{
  color: gray;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
}

 @media (max-width: 768px) {
  .content{
    font-size: 2vw !important;
  }
}



.content {
  width: 25vw;
  height: 4vw;
  margin-left: 7%;
  font-size: 1.5vw;
  font-family: 'Titillium Web', sans-serif;
  overflow-y: auto;
  overflow-wrap: break-word;
  margin-top: 4%
}


mat-checkbox{
  width: 2vw;
  height: 2vw;
  margin-left: 3%;
  margin-top: 2%;
}

div{
  height: 7vw;
  width: 50%;
  margin-bottom: 2%;
  margin-left: 25%;
  box-shadow: 1px 2px 3px #888888;
  cursor: move;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeedf0;
  border: 0.5px #ccc solid;
  border-radius: 0.15cm;
}

.is-complete .content{
  text-decoration: line-through;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder {
  background: #e1e3e1;
  border-radius: 0.15cm;
  border: dotted 1.5px #999;
  transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
